<h1>Listing events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th></th>

  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= event.date %></td>
    <% if user_signed_in? %>
      <td class="volunteering_decision_yes_<%= event.id %>" style=<%=display_if(current_user.responded?(event) && current_user.volunteering?(event))%>>
          Attending!
      </td>
      <td class="volunteering_decision_no_<%= event.id %>" style=<%=display_if(!(current_user.responded?(event) && current_user.volunteering?(event)))%>>
          <%= render 'volunteer_rsvps/form', {:event=>event} %>
      </td>
    <% end %>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
